body{
    background: linear-gradient(to right top, #dcf0ea, #dfdfbb);
    background-repeat: no-repeat;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    border: 1px solid #777;
    border-radius: 6px;
    background-color:  #dfe7b4;
    box-shadow: #444 3px 5px 7px;
    padding: 40px;
    max-width: 270px;
    max-height: 400px;
    margin: 12% 35% 17% 37%;
}
input{
    margin: 6px;
    width: 80%;
}
