
$cream: #CFD2B2;
$eggshell: #E2E1CA;
$steelblue: #326273;
$darkgreen: #38686B;



Form{
    background: $eggshell;
    box-shadow: black 3px 5px 6px;
    border-radius: 6px;
    padding: 15px;
    min-width: 60%;
    
}