$cream: #CFD2B2;
$eggshell: #E2E1CA;
$steelblue: #326273;
$darkgreen: #38686B;
$rosswood: #66000A;

html, body{
  height: 100vh;
}
.app-container {
  padding-top: 10%;
  background: linear-gradient(to top right, $rosswood, $steelblue);
  background-repeat: no-repeat;
  background-size: cover;
}



